{
  "language": "en-ca",
  "smtp": {
    "from_name": "John Doe",
    "from_email": "john.doe@example.com",
    "password": "password",
    "smtp_server": "smtp.example.com",
    "port": 465
  },
  "following_areas": [
    {
      "id": "14",
      "type": "sublocality",
      "name": "Downtown Toronto"
    },
    {
      "id": "779",
      "type": "neighbourhood",
      "name": "Scarborough Town Centre"
    },
    {
      "id": "21",
      "type": "sublocality",
      "name": "Midtown Toronto"
    },
    {
      "id": "17",
      "type": "sublocality",
      "name": "North York"
    }
  ],
  "mailing_list": [
    "alice@example.com",
    "bob@example.com",
    "charlie@example.com"
  ]
}
